<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <link rel="stylesheet" href="../static/css/auction.css">
<script>
function myFunction(oFrom) {
    var a = oFrom.elements["bid"].value;
    debugger;
    var keys = generate();
    debugger;
    var encrypt = encrypt(a, keys.n, keys.e);
    debugger;
    var msg = decrypt(encrypt, keys.d, keys.n);
    debugger;

    oFrom.elements["hid"].value = msg;
    debugger;
}
</script>
</head>
<body>

    <p id="demo">A Paragraph</p>

    <br>
    <br>



    <form action="trial.html">
      First name:<br>
      <input type="text" name="Bid" id="bid" >
      <br>
      Last name:<br>
      <input type="text" name="lastname"  id="hid" >
      <br><br>
      <input type="submit" value="Submit" onclick="myFunction(this.form)">
    </form>



</body>

<!-- SCRIPTS -->
        <script type="text/javascript"  src="../static/js/RSA.js"></script>
        <script type="text/javascript"  src="../static/js/BigInteger.js"></script>

</html>